<h1>Dealer:</h1>
<% @hand = session[:dealer].hand %>
<%= erb "partials/cards".to_sym %>
<h2>Dealer Total: <%= session[:dealer].hand_total %></h2>
<p class="printer">
<% @printer.each {|string|%><%=string%><br><%}%>
</p>

<table>
<%= erb "partials/#{@action.to_s}".to_sym%>
</table>
<table class="player">
  <tr>
    <td> <h3>Current Bet: <strong>&#10026;<%= session[:bet] %></strong> </h3></td>
    <td>
      <h1><%= session[:player].name %>:</h1>
    </td>
    <td><h3> Total Chips - <strong>&#10026;<%= session[:player].chips %></strong> </h3></td>
  </tr>
</table>

<% @hand = session[:player].hand %>
<%= erb "partials/cards".to_sym %>
<h2><%= session[:player].name %> Total: <%= session[:player].hand_total %></h2>

