<h1>Dealer:</h1>
<% @hand = @dealer.hand %>
<%= erb "partials/cards".to_sym %>
<h2>Dealer Total: <%= @dealer.hand_total %></h2>
<p class="printer">
<% @printer.each {|string|%><%=string%><br><%}%>
</p>
<table>
<%= erb "partials/#{@action.to_s}".to_sym%>
</table>
<table class="player">
  <tr>
    <td> <h3>Current Bet: <strong>&#10026;<%= @bet %></strong> </h3></td>
    <td>
      <h1><%= @player.name %>:</h1>
    </td>
    <td><h3> Total Chips - <strong>&#10026;<%= @player.chips %></strong> </h3></td>
  </tr>
</table>
<% @hand = @player.hand %>
<%= erb "partials/cards".to_sym %>
<h2><%= @player.name %> Total: <%= @player.hand_total %></h2>

